[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
msgpack = "*"
tinydb = "*"
fuzzysearch = "*"

[dev-packages]
pre-commit = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.10"
