[Desktop Entry]
Name=Drizzle Client
Exec=client.sh
Type=Application
Comment=A lightweight peer-to-peer file sharing system inspired by DC++
Terminal=false
Categories=Network;Utility
